.container
  .row.offset9{style: "text-align: right;"}
    %h4
      =link_to "New Shared Bill", new_transaction_path
  %h4{style: "text-align: center; color: purple;"}= "Shared Bill of #{current_user.name}"
  .row
    .span12
      %table.table.table-bordered.table-striped
        %tr
          -SharedTransaction::COLUMNS.each do |col|
            %th{style: "color: orange; text-align: center;"}= col.titleize
          %th{style: "color: orange; text-align: center;"} Action
        -@jsonTransactions.each do |ts|
          %tr{class: "#{ts[:payer] == 'You' ? 'success' : 'error'}"}
            -SharedTransaction::COLUMNS.each do |col|
              %td{style: "color: grey; text-align: center;"}= ts[col.to_sym]
            -case ts[:action]
              - when "pay"
                %td{style: "color: grey; text-align: center;"}
                  %form{method: :post, action: pay_bill_shared_transactions_path }
                    %input{name: 'st_id', value: ts[:id], hidden: true}
                    %button.btn{type: "submit"} Pay
              - when "progress"
                %td{style: "color: grey; text-align: center;"} Progress
              - when "confirm"
                %td
                  %form{method: :post, action: confirm_payment_shared_transactions_path }
                    %input{name: 'st_id', value: ts[:id], hidden: true}
                    %input{name: 'account', placeholder: 'Enter account'}
                    %button.btn{type: "submit"} Confirm
              - when "closed"
                %td{style: "color: grey; text-align: center;"} closed
              - when "remind"
                %td{style: "color: grey; text-align: center;"} Remind