%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "AndroExpense", '#', id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home",    '#'
          %li= link_to "Accounts",  new_account_path
          -if current_user
            %li= link_to "Sign Out #{current_user.name}!", signout_url
          -else
            %li= link_to "Sign in", '/auth/twitter'