%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "AndroExpense", root_url, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", root_url
          -if current_user
            %li= link_to "Accounts",  accounts_path
            %li= link_to "Transactions", transactions_path
            %li= link_to "Shared Bill", shared_transactions_path
            %li= link_to "Sign Out #{current_user.name}!", signout_url
          -else
            %li= link_to "Sign in", '/auth/twitter'
- flash.each do |name, msg|
  %h4.flash= content_tag :div, msg, class: name