.container
  .row.offset9{style: "text-align: right;"}
    %h4
      =link_to "New Account", new_account_path
  %h4{style: "text-align: center; color: purple;"}= "Accounts for #{current_user.name}"
  -@accounts.each do |acc|
    .row
      .span6
        %h2= acc.display_name
      .span6
        %h2= acc.balance
  .row
    .span6
      %h2 Total
    .span6
      %h2= @total
